@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 15 89% 51%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 87%;
    --muted-foreground: 0 0% 30%;
    --accent: 0 0% 87%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 87%;
    --input: 0 0% 87%;
    --ring: 15 89% 51%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 15 89% 51%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 30%;
    --muted-foreground: 0 0% 87%;
    --accent: 0 0% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 15 89% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
